{
  "overrides": [
    {
      "files": "*.{json,sol}",
      "options": {
        "tabWidth": 2,
        "printWidth": 200
      }
    },
    {
      "files": "*.{tsx,ts,js}",
      "options": {
        "printWidth": 300,
        "tabWidth": 2,
        "useTabs": false,
        "semi": false,
        "arrowParens": "always",
        "trailingComma": "none",
        "bracketSameLine": false
      }
    }
  ]
}
